/* === HERO SECTION === */
.hero {
    padding: 1em 0.5em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: var(--txtcolor);
}

.hero p {
    font-size: 1.2em;
    color: var(--txtcolor);
    opacity: 0.8; 
    margin-bottom: 1.5em;
}


/* === CONTAINER ANIMALI === */

.animali-trovati {
    display: inline;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--txtcolor);
    margin: 0 1.5em 0em 1.5em;
    padding: 1em;
}

.animali-nontrovati {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: var(--txtcolor);
    margin: 1.5em 0 1.5em 0;
    padding: 1em;
}

.section-list {
    display: flex;
    flex-direction: row;
    padding-top: 0;        /* Rimuove padding superiore */
    margin-top: 0;         
}

.list-vertical-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin:1.5em 1em 2em;
}
/*=== CARD ANIMALE === */

.animal-list {
    list-style: none;
    display: grid;                                    
    grid-template-columns: repeat(auto-fill, minmax(17.5em, 1fr));  
    gap: 2em;
    justify-content: center;
}

.animal-card {
    min-width: 17.5em;
    max-width: 25em;
    display: flex;
    flex-direction: column;
}

.animal-card a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filter-panel.open ~ .list-vertical-panel .animal-list {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));  /* MODIFICA */
}

.animal-card figure {
    background-color: white;
    border-radius: var(--generalradius);
    overflow: hidden;
    box-shadow: var(--normalshadow); 
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;               /* Mantieni questo */
}

.animal-card img {
    width: 100%;
    height: 18em;
    object-fit: cover;
    display: block;
    flex-shrink: 0;             /* AGGIUNGI - impedisce all'immagine di rimpicciolirsi */
}

.animal-card figcaption {
    padding: 1.5em;
    background: var(--bgbtn);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-grow: 1;               /* AGGIUNGI - fa crescere il figcaption per riempire lo spazio */
}
[data-theme="dark"] .animal-card figure {
    background-color: var( --bgdecoration);
    border-radius: var(--generalradius);
    overflow: hidden;
    box-shadow: var(--normalshadow);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

[data-theme="dark"] .animal-card figcaption {
    padding: 1.5em; 
    background-color: var(--bgbtn);
    display: flex;
    flex-direction: column;
    gap: 0.5em;  
}

.animal-card h3 {
    font-size: 1.3em;
    color: var(--bgbtnhover);
    margin-bottom: 0.5em;
    text-align: left; 
}

.animal-card .tipo {
    display: inline-block;
    padding: 0.3em 0.8em;
    border: 2px solid var(--borderbtn);
    color: var(--bgbtnhover);
    border-radius: 1.25em;
    font-size: 0.9em;
    font-weight: 600;
    align-self: flex-start;
}

[data-theme="dark"] .animal-card .tipo {
    display: inline-block;
    padding: 0.3em 0.8em;
    border: 2px solid var(--txtbtncolor);
    color: var(--txtbtncolor);
    border-radius: 1.25em;
    font-size: 0.9em;
    font-weight: 600;
    align-self: flex-start;
}

/* === PANORAMICA ANIMALE === */
#scheda-con-visita {
    max-width: 70em;
    margin: 3em auto;
    padding: 2.5em;   
    background:var(--bgbread);
    border-radius: 1.5em;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.20);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em;
    grid-template-areas: 
        "foto info"
        "storia storia"
        "caratteristiche caratteristiche"
        "visita visita";
    align-items: start;
}

/* === IMMAGINE ANIMALE === */
.animal-image {
    grid-area: foto;
    width: 100%;
    height: 100%;
    max-height: 35em;
    border-radius: var(--generalradius);
    object-fit: cover;
    box-shadow: var(--greenshadow);
    transition: transform 0.3s ease;
}

/* === INFO PRINCIPALI === */
.animal-info {
    grid-area: info;
    background-color: var(--bgdecoration);
    padding: 2em;
    border-radius: var(--generalradius);
    border:2px solid var(--borderdecoration);
    box-shadow: var(--brownshadow);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.animal-name {
    font-size: 2.5em;
    color: var(--txtcolor);
    margin-bottom: 0.2em;
    line-height: 0.5em;
    background: var(--bgdecoration);
}

/* === STATUS BADGE === */
.status-badge {
    display: inline-block;
    padding: 0.6em 1.2em;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    background: var(--strongdecoration);
    color: var(--bgbread);
    box-shadow: var(--brownshadow);
}

/* === INFO GRID === */
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 0;  
}

.info-item {
    background: var(--bgcolor) ;
    padding: 1em;
    border-radius: 0.5em;
    border:0.5px solid var(--borderdecoration);
    box-shadow: var(--brownshadow);
}

.info-label {
    display: block;
    font-weight: 700;
    color: var(--txtcolor);
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0.4em;
    margin-left: 0; 
    opacity: 0.8;
}

.info-value {
    display: inline;
    color: var(--txtcolor);
    font-size: 1.05em;
    font-weight: 600;
    margin: 0; 
    margin-left: 0;  
}

/* === STORIA === */
.descriptions {
    grid-area: storia;
    background-color: var(--bgdecoration);
    padding: 2em;
    border-radius: 0.5em;
    border:2px solid var(--borderdecoration);
    box-shadow: var(--brownshadow);
    overflow: auto;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.descriptions-title {
    font-size: 1.6em;
    color: var(--txtcolor);
    margin-bottom: 0;
    padding-left: 0.3em;  
}

#book {
    width: 2em;
    height: 2em;
    fill: var(--txtdecoration);
    flex-shrink: 0;
}

.descriptions p {
    font-size: 1.05em;
    line-height: 1.8em;
    color: var(--txtcolor);
}

/* === CARATTERISTICHE === */
.features {
    grid-area: caratteristiche;
    background-color: var(--bgdecoration);
    padding: 2em;
    border-radius: var(--generalradius);
    border:2px solid var(--borderdecoration);
    box-shadow: var(--brownshadow);
    position: relative;
    overflow: hidden;
}

.features-title {
    font-size: 1.6em;
    color: var(--txtcolor);
    margin-bottom: 0em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#star{
    width: 2.5em;
    height: 2.5em;
    fill: var(--txtdecoration);
    flex-shrink: 0;
}

.features ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.features ul li {
    color: var(--bgbread);
    background: var(--borderdecoration) ;
    padding: 1em 1.25em;
    border-radius: var(--generalradius);
    font-size: 1.05em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.features ul li .checkli {
    width: 1.5em;
    height: 1.5em;
    fill: var(--bgbread);  /* Colore della spunta */
    flex-shrink: 0;
}

/* === VISITA === */
#chiedi-visita {
    grid-area: visita;
    padding: 2em;
    background:  var(--bgdecoration);
    border-radius: 0.5em;
    box-shadow: var(--brownshadow);
    border:2px solid var(--borderdecoration);
    overflow: hidden;
}

/* Header con flex */
.visita-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 0.5em;
    padding: 1em;
}

#zampa {
    width: 2.7em;
    height: 2.7em;
    fill: var(--txtdecoration);
    flex-shrink: 0;
}

.visita-header h3 {
    font-size: 1.6em;
    color: var(--txtcolor);
    font-weight: 700;
    margin: 0;
    margin-right: auto;
}

.cfr-button {
    min-width: 10em; 
}

.form-intro {
    background: var(--bgbread);
    padding: 2em;
    border-radius: var(--generalradius);
    margin-bottom: 2em;
    border-left: 0.4em solid var(--borderdecoration);
}

.form-intro p {
    font-size: 1.05em;
    line-height: 1.7em;
    color: var(--txtcolor);
}

#appointment-form {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    padding: 0 2.5em;
}

#appointment-form.active {
    max-height: 3000px;
    opacity: 1;
    visibility: visible;
    padding: 2.5em;
}

#appointment-form .info-required{
    margin-bottom: 2em;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 1.5em;
    margin-bottom: 1.5em;
}

.single-form {
    display: flex;
    flex-direction: column;
}

.single-form label {
    font-size: 1.05em;
    font-weight: 600;
    margin-bottom: 0.6em;
    color: var(--txtcolor);
}

.single-form input {
    padding: 0.9em;
    font-size: 1em;
    border: 2px solid var(--borderform);
    border-radius: var(--generalradius);
    background-color:var(--bgbread);
    color: var(--txtcolor);
    transition: all 0.3s ease;
    box-shadow: var(--normalshadow);
}

.single-form input:focus {
    outline: none;
    border-color: var(--borderbtn);
    box-shadow: var(--greenshadow);
}

.single-form-group {
    margin-bottom: 1.5em;
}

.single-form-group label {
    display: block;           
    margin-bottom: 0.5em;     
    font-size: 0.95em;
    font-weight: 600;
    color: var(--txtcolor);
}

.single-form-group textarea {
    width: 80%;
    resize: vertical;
    min-height: 9em;
    padding: 0.9em;         
    font-size: 1em;
    border-radius: var(--generalradius);
    background-color: var(--bgbread);
    color: var(--txtcolor);
}

.single-form-group textarea:focus {
    outline: none;
    border-color: var(--borderbtn);
    box-shadow: var(--normalshadow);
}


/* Errori specifici sotto i campi */
.single-form input.error,
.single-form textarea.error {
    border-color: var(--txtwarning);
    box-shadow: var(--redshadow);
}

.field-error {
    color: var(--txtwarning);
    font-size: 0.9em;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-weight: 500;
}

.field-error.hidden {
    display: none;
}

.field-error .warning {
    width: 1.2em;
    height: 1.2em;
    fill: var(--txtwarning);
    flex-shrink: 0;
    margin-top: 0.1em;  /* Allineamento verticale */
}

/* === SUBMIT BUTTON === */
.submite-bt {
    width: 100%;    
}

/* PAGINA ERRORE 403 */

.errore {
    text-align: center;
    padding: 1.5em 0;
}

.errore h2 {
    font-size: 1.75em;
    line-height: 1.1em;
    color: var(--txtcolor);
    margin-bottom: 1em;
}

.errore .pet-images {
    margin: 2em 0;
}

.errore .pet-images img {
    max-width: 100%;
    height: 22em;
    border-radius: 0.625em;
}

.errore .messaggio-errore {
    margin-top: 2em;
}

.errore .messaggio-errore p {
    font-size: 1.5em;
    color: var(--txtcolor);
    margin-bottom: 0.5em;
    line-height: 1.6;
    font-weight: 600;
}

.azioni-errore ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.errore .btn-link {
    gap: 0.3em;  
    margin: 1.25em 0.8em 0 0.5em;
    min-width: 10em;
}

/* Heading nascosto visivamente ma accessibile */
.hidden-header {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Codice errore 404 */
.error-code {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 2em 0;
}

/* Numeri "4" */
.digit {
    font-size: 10em;
    font-weight: 700;
    color: var(--txtcolor);
    line-height: 1;
}

/* Cerchio con immagine del cane (sostituisce lo "0") */
.dog-circle {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1em solid #080808;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.2);
}

.dog-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-form:has(input:required) > label::before,
.single-form:has(select:required) > label::before{
    content: "•";
    font-size: 1.4em;
    color: var(--txtwarning);
}

@media (hover: hover) {

    .animal-card figure:hover {
        transform: translateY(-0.5em);
        box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.15);
    }
    
    .animal-card figure:hover figcaption {
        background: var(--bgbtnhover);
    }
    
    [data-theme="dark"] .animal-card figure:hover figcaption {
        background: var(--bgbtnhover);
    }
    
    .animal-card figure:hover h3 {
        color: var(--inverttxtcolor);
    }
    
    .animal-card figure:hover .tipo {
        color: var(--inverttxtcolor);
        border-color: var(--inverttxtcolor);
    }
    
    .animal-image:hover {
        transform: scale(1.02);
    }
}