#hamburger {
    display: flex;
}

#contenitore-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    justify-content: center;
    transform: translateY(-1em);
    opacity: 0;
    visibility: hidden;
    transition: right 0.5s ease;
}

#navbar ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 0.75em;
}

#contenitore-header.active #navbar,
#contenitore-header.acrive #header-btns {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

#hamburger.active .linea:nth-child(1) {
    transform: translateY(0.45em) rotate(45deg);
}

#hamburger.active .linea:nth-child(2) {
    opacity: 0;
}

#hamburger.active .linea:nth-child(3) {
    transform: translateY(-0.5em) rotate(-45deg);
}

#section-title {
    margin: 4.5em auto;
}

#section-chi-siamo>div {
    flex-direction: column;
}

#section-contatti iframe {
    display: none;
}

#section-esperti ul {
    flex-direction: column;
}

#section-esperti ul li figure img {
    align-self: center;
    width: 20em;
    height: 17.5em;
}

#section-dati ul {
    flex-direction: column;
}

#section-dati ul li {
    width: 20em;
    align-self: center;
}

#dati-footer {
    flex-direction: column;
}

#dati-rifugio {
    text-align: center;
}

#orari-rifugio {
    margin-top: 1em;
}

.titolo-footer {
    text-align: center;
    margin-top: 1em;
}

#copyright {
    width: 20em;
}

#dia-appuntamento,
#dia-cancellazione {
    margin: auto 1em;
}

#campi-input {
    display: flex;
    flex-direction: column;
}