#ricerca {
    height: 2em;
}

#step-1,
#step-2,
#step-3 {
    display: none;
}

.info-step {
    font-size: 1.1rem;
}

#section-step-porta-adozione {
    margin: 4em auto;
}

#section-step-porta-adozione ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: left;
    justify-content: center;
    list-style: none;
    gap: 1em;
    flex-direction: column;
}

#section-form-porta-adozione h3 {
    font-size: 1.3rem;
}

.section-legend p {
    font-size: 1.2rem;
}

.btn-gruppo-v {
    flex-direction: row;
    justify-content: center;
}

.btn-gruppo-v button {
    flex: 1;
}

#ricerca {
    height: 2em;
}

.description {
    font-size: 1.2rem;
    opacity: 0.8; 
}

#list-topbar {
    position: revert;
}

.info-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-number {
    margin-right: 0.2rem;
}

.info-step {
    font-size: 1.2rem;
}

#section-step-porta-adozione ul {
    align-items: center;
    gap: 3rem;
}

#section-step-porta-adozione ul li {
    max-width: revert;
}

#section-step-porta-adozione figcaption {
    margin-top: 0rem;
    align-items: center;
}

.titolo {
    font-size: 2.4rem;
}