.description {
    margin: 1em;
    font-size: 1.6em;
    line-height: 1.4em;
    text-align: center;
}


.form-field label{
    flex-direction: row;
}

.form-field:has(input:required) > label::before,
.form-field:has(select:required) > label::before,
dialog .form-field:has(input:required) > label::before,
dialog .form-field:has(select:required) > label::before,
.radio-group:has(input:required) > legend::before {
    content: "•";
    font-size: 1.4em;
    color: var(--txtwarning);
    margin-right: 0.1em;
}

#section-form-porta-adozione {
    padding: 2em;
    border-radius: var(--generalradius);
    box-shadow: var(--normalshadow);
    background-color: var(--bgcolor);
    border: 1px solid var(--borderform);
    max-width: 50em;
    margin: 3em auto;
}

#section-form-porta-adozione h3 {
    text-align: center;
    color: var(--txtcolor);
    margin-bottom: 1em;
    font-size: 1.5em
}

.form-field {
    display: flex;
    flex-direction: column;
}

.phone-input {
    flex-direction: row;
    display: flex;
    gap: 0.5em;
}

.phone-prefix {
    align-self: center;
    font-size: 1.1em;
}

.phone-number {
    flex: 1;
}

.section-legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

.legend-left {
    background-color: var(--txtcolor);
    height: 2px;
    width: 1em;
    border-radius: var(--generalradius);

}

.legend-right {
    background-color: var(--txtcolor);
    height: 2px;
    flex: 1;
    border-radius: var(--generalradius);
    transition: all 500ms ease;
}

.line-legenda {
    background-color: var(--txtcolor);
    height: 1px;
    flex: 1;
    border-radius: var(--generalradius);
}

.line {
    background-color: var(--txtcolor);
    height: 1px;
    flex: 1;
    border-radius: var(--generalradius);
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.section-legend p {
    margin: 0 0.5em;
    font-size: 1.4em;
    font-weight: bold;
}

#section-padrone {
    border: 0px solid var(--txtcolor);
    border-radius: var(--generalradius);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#section-padrone legend {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#section-animale {
    border: 0px solid var(--txtcolor);
    border-radius: var(--generalradius);
    margin-top: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#section-form-login {
    padding: 2em;
    border-radius: var(--generalradius);
    box-shadow: var(--normalshadow);
    background-color: var(--bgcolor);
    border: 1px solid var(--borderform);
    max-width: 25em;
    margin: 3em auto;
}

#section-form-login .info-required {
    justify-content: center;
    margin-bottom: 1rem;
}

#section-form-logout {
    padding: 2em;
    border-radius: var(--generalradius);
    box-shadow: var(--normalshadow);
    background-color: var(--bgcolor);
    border: 1px solid var(--borderform);
    max-width: 25em;
    margin: 3em auto;
}

#section-form-logout h2 {
    text-align: center;
    color: var(--txtcolor);
    font-weight: normal;
}

#section-form-porta-adozione form,
#section-form-login form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#section-form-logout form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

label {
    margin-bottom: 0.23em;
    font-size: 1.1em;
    font-weight: bold;
}

input,
textarea {
    padding: 0.5em;
    font-size: 1.1em;
    border: 2px solid var(--txtcolor);
    border-radius: var(--generalradius);
    font-family: "Inter", serif;
    color: var(--txtcolor);
    background-color: var(--bgbread);
    transition: border-color 0.2s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--borderbtn);
    box-shadow: var(--greenshadow)
}

textarea {
    resize: vertical;
    min-height: 6em;
}

.select-custom select {
    line-height: 1.5em;
    padding: 10px 40px 10px 10px;
    background: inherit;
    color: var(--txtcolor);
    border: 2px solid transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    flex: 1;
    border-radius: inherit;
    min-width: 0;
}

.select-custom {
    background: var(--bgbread);
    border: 2px solid var(--txtcolor);
    border-radius: var(--generalradius);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: border 0.2s ease;
    position: relative;
}

.select-custom svg {
    position: absolute;
    pointer-events: none;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bgbtn);
    border: 2px solid var(--borderbtn);
    fill: var(--txtbtncolor);
    justify-content: center;
    border-radius: var(--generalradius);
    padding: 0.3em;
    right: 0.15rem;
    transform: rotate(180deg);
    transition: 0.3s ease;
}

form select::after {
  content: "▼"; /* o puoi usare un'immagine */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #4a6f1b; /* verde simile all’immagine */
  font-size: 12px;
}

.radio-group {
    flex-direction: row;
    display: flex;
    gap: 1.4rem;
    border: 0;
}

.radio-group label {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.info-required {
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
    color: var(--txtwarning);
    font-weight: bold;
}

.info-required p::before {
    content: "•";
    font-size: 1.4em;
    color: var(--txtwarning);
    margin-right: 0.2em;
}

.section-list {
    display: flex;
    flex-direction: row;
}

.accordion-header button {
    height: 1.7em;
}

#form-porta-adozione input.error,
#form-porta-adozione textarea.error,
#form-porta-adozione .select-custom:has(select.error) {
    border-color: var(--txtwarning);
    box-shadow: var(--redshadow);
}

#popup-panel {
    width: auto;
    height: 50vh;
    overflow-y: auto;
    min-width: 0;
    padding: 0.5em 0.5em 2em 0.5em;
}

#popup-panel .azioni-filtro {
    margin: 3em 2.5em 0.5em 2.5em;
}

#popup-panel .content {
    padding: 0em 2.5em;
}

#popup-panel .legend-left {
    width: 3em;
}

#side-panel { 
    display: flex;
    overflow: hidden;
    width: 0;
    transition: width 0.3s ease;
    background-color: var(--bgcolor);
    border-radius: var(--generalradius);
}

#side-panel.open {
    flex: 1;
    max-width: 20em;
}

.list-panel {
    flex: 1;
    padding-top: 1em;
    padding-left: 1em;
}

.filter-content {
    flex: 1;
    padding: 1em 0.5em 0.5em 0.5em;
}
 
.filter-panel,
.filter-content
{
    min-width: 0;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 2px;
    background-color: var(--txtcolor);
    border-radius: var(--generalradius);
}

#form-ricerca {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 0.5rem;
    min-width: 20em;
}

#form-ricerca input {
    min-width: 0em;
}

#filtra-btn.alone {
    flex: 1;
    max-width: 25em;
}

#filtra-btn.alone .abbr {
    display: flex;
}

#filtra-btn.wrapped {
    flex: 1;
}

#filtra-btn.wrapped .abbr {
    display: flex
}

#list-topbar {
    border-radius: var(--generalradius);
    background-color: var(--bgcolor);
    border: 2px solid var(--txtcolor);
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    position: sticky;
    top: 7em;
    z-index: 20;
    flex-wrap: wrap-reverse;
    align-items: center;
}

#list-topbar button {
    transition: background-color 0.3s ease;
    width: fit-content;
    flex: 0;

    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

.list-vertical-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-filter {
    border: 1px solid var(--txtcolor);
    border-radius: var(--generalradius);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--bgcolor);
}

.check-group label,
.radio-group label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.check-group input[type="checkbox"],
.radio-group input[type="radio"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid var(--borderbtn);
    background-color: var(--bgbtn);
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    transition: 0.3s ease;
}

form {
    color: var(--txtcolor);
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="tel"] {
    width: 100%;
    box-sizing: border-box;
}

.check-group input[type="checkbox"]:checked ~ svg,
.radio-group input[type="radio"]:checked ~ svg {
    opacity: 1;
    transform: scale(1);
}

.check-group svg,
.radio-group svg {
    position: absolute;
    left: 0.3em;
    width: 1.1em;
    height: 1.1em;
    fill: var(--bgbtn);
    opacity: 0;
    transform: scale(0);
    transition: all 0.1s ease;
    pointer-events: none;
}

.check-group input[type="checkbox"]:checked,
.radio-group input[type="radio"]:checked {
    background-color: var(--bgbtnhover);
    box-shadow: var(--greenshadow);
}

.check-group {
    flex-direction: column;
    display: flex;
    gap: 1em;
    border: 0;
}

.check-group,
.radio-group {
    flex-wrap: wrap;
}

.radio-group legend,
.check-group legend {
    margin-bottom: 0.23em;
    font-size: 1.1em;
    font-weight: bold;
}

.check-group label {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.accordion .content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.inner-content {
    padding: 1em 0.5em 0.4em 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header {
    padding: 0.2em 0em 0.2em 0.3em;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    background-color: var(--bgbtn);
    border: 2px solid var(--borderbtn);
    border-radius: var(--generalradius);
    margin: 0 0.4em;
    font-weight: bold;
    color: var(--txtbtncolor);
    transition: 0.3s ease;
    box-shadow: var(--greenshadow);
}

.accordion-header button svg {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    width: 1.4em;
    height: 1.4em;
}

.accordion-header button svg.open {
    transform: rotate(0deg);
}

.accordion-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.filter-content form {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
}

.info-step {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.3em;
}

.strong-step {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

#step-1 {
    background-color: var(--bgdecoration);
    border-radius: 80% 20% 43% 57% / 50% 30% 70% 50% ;
}

#step-2 {
    background-color: var(--bgdecoration);
    border-radius: 39% 61% 71% 29% / 68% 60% 40% 32%;
}

#step-3 {
    background-color: var(--bgdecoration);
    border-radius: 29% 71% 29% 71% / 49% 44% 56% 51% ;
}

.step-number {
    background-color: var(--borderdecoration);
    color: var(--inverttxtcolor);
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    padding: 0.2em;
}

#section-step-porta-adozione figcaption {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#section-step-porta-adozione {
    margin: 6em auto;
    position: relative;
}

#section-step-porta-adozione ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    justify-content: center;
    list-style: none;
    gap: 4em;
}

#section-step-porta-adozione ul li {
    flex: 1;
    max-width: 17.5rem;
    min-width: 17.5rem;
}

#section-step-porta-adozione figure {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;
}

#section-step-porta-adozione ul li figure img {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 15em;
    border: 2px solid var(--borderdecoration);
    box-shadow: var(--brownshadow);
}

#section-step-porta-adozione figcaption {
    flex: 1;
    margin-top: 2em;
}

.azioni-filtro {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.azioni-filtro #applica {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}

#form-filtri .reset {
    min-width: 2em;
    background-color: var(--bgwarning);
    box-shadow: var(--redshadow);
    border-color: var(--borderwarning);
    fill: var(--txtwarning);
}

.azioni-filtro #reset {
    min-width: 2em;
    background-color: var(--bgwarning);
    box-shadow: var(--redshadow);
    border: 2px solid var(--borderwarning);
    background-image: url("../Resources/Vectors/Delete.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.flag-filtro {
    background-color: var(--borderdecoration);
    border: 1px solid var(--borderdecoration);
    height: 1.1em;
    width: 1.1em;
    margin-right: 0.4em;
    padding: 0.1em;
    display: none;
    border-radius: var(--generalradius);
    color: var(--inverttxtcolor);
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transition: opacity 120ms ease;
    will-change: opacity, transform;
}

.flag-filtro.show {
    display: inline-flex;

}

.solo-sr {
    display: none;
}

.sort-container {
  position: relative; /* Dice al menu: "Tu ti muovi rispetto a me" */
  display: inline-block;
}

.sort-dropdown {
  position: absolute; /* Esce dal flusso della pagina e non occupa spazio */
  top: 100%;          /* Si posiziona esattamente sotto il bottone */
  left: 0;
  z-index: 1000;      /* Si assicura di stare sopra alle immagini dei cani */
  
  background-color: #f0f4e8; /* Colore crema come il tuo design */
  border: 2px solid #4a5d23;
  border-radius: var(--generalradius);
  list-style: none;
  padding: 10px;
  min-width: 160px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  
  display: none;      /* Nascosto di default */
}

.sort-container.open .sort-dropdown {
  display: block;
}

.select-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    flex: 1;
    max-width: 20em;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    
    background-color: var(--bgbtn);
    color: var(--txtbtncolor);
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: var(--greenshadow);
    border-radius: var(--generalradius);
    border: 2px solid var(--borderbtn);
    padding: var(--generalpadding);
    
    cursor: pointer;
    width: 100%;
    text-align: center; /* Centra il testo all'interno del select */
}

.info-richiesta-animale {
    font-size: 1.25em;
    font-weight: bold;
}

.richiesta-inserimento-info dt {
    margin-left: 0.5em;
    float: left;
    font-weight: bold;
    margin-right: 0.25em;
}

.richiesta-inserimento-info dd {
    margin-left: 0.5rem;
}

.spaziatore {
    display: flex;
    flex: 1;
}

.sezione-padrone {
    display: flex;
    flex-direction: column;
}

#btn-logout,
#btn-amministrazione
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: 2rem;
    width: 2.75rem;
    height: 2.75rem;
    transition: all 0.3s ease;
}

#btn-logout {
    display: block;
    background-image: url("../Resources/Vectors/Logout.svg");
    text-indent: -9999em;
    white-space: nowrap;
    overflow: hidden;
    border-radius: var(--generalradius);
}

#btn-amministrazione {
    display: block;
    background-image: url("../Resources/Vectors/Wrench.svg");
    text-indent: -9999em;
    white-space: nowrap;
    overflow: hidden;
    border-radius: var(--generalradius);
}

#form-logout button {
    background-color: var(--bgwarning);
    color: var(--txtwarning);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: var(--redshadow);
    border-radius: var(--generalradius);
    border: 2px solid var(--borderwarning);
    padding: var(--generalpadding);
    transition: background-color 0.3s ease;
}

#amministrazione-link {
    display: flex;
    background-color: var(--bgbtn);
    color: var(--txtbtncolor);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
    height: 2.25rem;
    box-shadow: var(--greenshadow);
    border-radius: var(--generalradius);
    border: 2px solid var(--borderbtn);
    padding: var(--generalpadding);
    transition: background-color 0.3s ease;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#ricerca {
    display: flex;
    flex: 1;
}

#list-topbar button {
    height: 2.25em;
}

#list-topbar svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

#clear-ricerca {
    background-color: var(--bgwarning);
    color: var(--txtwarning);
    box-shadow: var(--redshadow);
    border: 2px solid var(--borderwarning);
    fill: var(--txtwarning);
}

.btn-gruppo-v {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1em;
    gap: 1em;
}

.btn-gruppo-v button {
    width: var(--squarewidth);
    padding: var(--squarepadding);
}

.status-da-gestire {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.status-da-gestire::before {
    content: "·";
    font-size: 3em;
    margin-right: 0.1em;
    padding-bottom: 0.05em;
    animation: blink 1.5s infinite;
}

.status-da-gestire.no-dot::before {
    display: none;
}

.status-gestito {
    display: flex;
    align-items: center;
    font-weight: normal;
}

.status-gestito::before {
    content: "-";
    font-weight: lighter;
    font-size: 2em;
    margin-right: 0.1em;
    padding-bottom: 0.15em;
}

@media (hover: hover) {
    .select-custom:hover {
    border-color: var(--bgbtnhover);
    box-shadow: var(--greenshadow);
    }

    .select-custom:hover svg{
        background-color: var(--bgbtnhover);
        fill: var(--inverttxtcolor);
    }

    .check-group input[type="checkbox"]:hover,
    .radio-group input[type="radio"]:hover {
        background-color: var(--bgbtnhover);
    }

    .header:hover {
    background-color: var(--bgbtnhover);
    color: var(--inverttxtcolor)
    }

    #section-step-porta-adozione figure:hover {
    transform: scale(1.05);
    }

    #form-filtri .reset:hover {
        background-color: var(--bgwarninghover);
        fill: var(--inverttxtcolor);
    }

    .azioni-filtro #reset:hover {
        background-color: var(--bgwarninghover);
        background-image: url("../Resources/Vectors/Delete_Light.svg");
    }

    .custom-select:hover {
    background-color: var(--borderbtn); /* O il colore che preferisci per l'hover */
    color: var(--inverttxtcolor);
    }
    
    #form-logout button:hover {
        background-color: var(--bgwarninghover);
        color: var(--inverttxtcolor);
    }

    #amministrazione-link:hover {
        background-color: var(--bgbtnhover);
        color: var(--inverttxtcolor);
    }

    #list-topbar #clear-ricerca:hover {
        background-color: var(--bgwarninghover);
        fill: var(--inverttxtcolor);
        color: var(--inverttxtcolor);
    }

    #list-topbar button:hover {
        background-color: var(--bgbtnhover);
        color: var(--inverttxtcolor);
    }

}