[data-theme="light"] {
    --txtcolor: #23201F;
    --borderform: #23201F;
    --inverttxtcolor: #FFF8E7;
    --bgcolor: #FFF8E7;
    --bgbread: #F2ECDB;
    --bgdecoration: #F6DFD5;
    --borderdecoration: #70402B;
    --strongdecoration: #70402B;
    --txtdecoration: #70402B;
    --bgbtn: #DEE4D2;
    --borderbtn: #445D17;
    --txtbtncolor: #445D17;
    --bgbtnhover: #445D17;
    --txtimportant: #445D17;
    --linkcolor: #2B7292;
    --bgwarning: #EAD6D4;
    --borderwarning: #963428;
    --bgwarninghover: #963428;
    --txtwarning: #963428;

    --brownshadow: 0 2px 10px rgba(112, 64, 43, 0.3);
    --greenshadow: 0 2px 10px rgba(68, 93, 23, 0.3);
    --redshadow: 0 2px 10px rgba(150, 52, 40, 0.3);
    --normalshadow: 0 2px 10px rgba(35, 32, 31, 0.3);

    --bgpaws: url("../Resources/Vectors/Paws-Light.svg");
    --logo: url("../Resources/Vectors/Logo-Dark.svg");
}

[data-theme="dark"] {
    --txtcolor: #EFEBE6;
    --borderform: #EFEBE6;
    --inverttxtcolor: #1C1A19;
    --bgcolor: #1C1A19;
    --bgbread: #221F1E;
    --bgdecoration: #3D2922;
    --borderdecoration: #C39E8E;
    --strongdecoration: #C39E8E;
    --txtdecoration: #C39E8E;
    --bgbtn: #2A3315;
    --borderbtn: #8FA668;
    --txtbtncolor: #8FA668;
    --bgbtnhover: #8FA668;
    --txtimportant: #8FA668;
    --linkcolor: #508FAB;
    --bgwarning: #3D1C19;
    --borderwarning: #D48780;
    --bgwarninghover: #D48780;
    --txtwarning: #D48780;

    --brownshadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    --greenshadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    --redshadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    --normalshadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    --bgpaws: url("../Resources/Vectors/Paws-Dark.svg");
    --logo: url("../Resources/Vectors/Logo-Light.svg");
}

:root {
    --popupbackdrop: rgba(0, 0, 0, 0.75);
    --generalpadding: 0.25rem 1rem 0.25rem 1rem; /* top, right, bottom, left */
    --squarepadding: 0.25rem 0.25rem;
    --generalbtnborder: 2px solid var(--borderbtn);
    --warningbtnborder: 2px solid var(--borderwarning);
    --generalborder: 2px solid var(--borderform);
    --generaloutline: 2px solid var(--linkcolor);
    --squarewidth: 2.25rem;
    --generalradius: 0.5rem;
}

* {
    padding: 0rem;
    margin: 0rem;
}

*::selection {
    background-color: var(--txtcolor);
    color: var(--bgcolor);
}

*:focus,
details > summary:focus {
    outline: none;
}

*:focus-visible,
input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="checkbox"]:focus-visible,
input[type="radio"]:focus-visible,
input[type="password"]:focus-visible,
input:focus-visible,
details:has(summary:focus-visible),
.select-custom:has(select:focus-visible) {
    outline: var(--generaloutline);
    outline-offset: 0.15rem;
}

.select-custom select:focus-visible {
    outline: none;
}

.outline-elem:focus-visible {
    outline: var(--generaloutline);
    outline-offset: 0.15rem;
}

.btn-link svg,
.btn-link:visited svg,
button svg,
details summary svg {
    width: 1.75rem;
    height: 1.75rem;
    display: block;
}

.new-window {
    margin-left: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    fill: var(--txtcolor);
}

.btn-link,
.btn-link:visited,
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: auto;
    height: 2.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5rem;
    padding: var(--generalpadding);
    background-color: var(--bgbtn);
    border: var(--generalbtnborder);
    border-radius: var(--generalradius);
    box-shadow: var(--greenshadow);
    color: var(--txtbtncolor);
    fill: var(--txtbtncolor);
    box-sizing: content-box;

    transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

html {
    background-color: var(--bgcolor);
}

html, body {
    font-size: 100%;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem;
    scroll-padding-top: 7.5rem;
}

.scroll-padding {
    scroll-padding-top: 15rem;
}

a {
    color: var(--linkcolor);
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    border-radius: var(--generalradius);
}

a:visited {
    color: var(--txtcolor);
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    opacity: 0;
    visibility: 0;
    background-image: var(--bgpaws);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

html.set-background::before {
    opacity: 1;
    visibility: visible;
}

#contenitore-header,
#contenitore-footer {
    max-width: 1200px;
    margin: 0 auto;
}

#contenitore-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

#contenitore-footer {
    padding: 1rem 1rem 1rem 1rem;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--txtcolor);
}

body.no-scroll {
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    padding: 0 1rem 0 1rem;
    background-color: var(--bgcolor);
    z-index: 1;
    height: fit-content;
    transition: box-shadow 0.3s ease;
}

header.scrolled {
    box-shadow: var(--normalshadow);
}

#link-logo {
    width: fit-content;
}

header h1 {
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999em;
    font-size: 2.75em;
    line-height: 1.5em;
    width: 2.75em;
    justify-self: start;
}

.bold {
    font-weight: bold;
}

.red {
    color: var(--txtwarning);
}

.bold-red {
    color: var(--txtwarning);
    font-weight: bold;
}

.normal {
    font-weight: normal;
    color: inherit;
    font-style: normal;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

#navbar {
    font-size: 1.4rem;
    margin: auto;
    justify-self: center;
}

#navbar a {
    color: var(--txtcolor);
    text-decoration: none;
    position: relative;
    padding-bottom: 0.15rem;
}

#navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.05rem;
    background-color: var(--txtcolor);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: end;
    margin-right: 0.5rem;
}

.header-btns a,
.header-btns a:visited,
.header-btns button {
    width: var(--squarewidth);
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: var(--squarepadding);
    fill: var(--txtcolor);
}

.header-btns a svg,
.header-btns button svg {
    width: 2rem;
    height: 2rem;
}

#btn-theme svg {
    width: 1.85rem;
    height: 1.85rem;
}

#btn-theme #moon-icon {
    display: block;
}

#btn-theme #sun-icon {
    display: none;
}

#btn-theme.light #moon-icon {
    display: none;
}

#btn-theme.light #sun-icon {
    display: block;
}

#hamburger {
    display: none;
    box-shadow: none;
}

#menu-wrapper,
#inner-menu {
    display: contents;
}

#btn-remove-bck.enabled {
    fill: var(--inverttxtcolor);
    background-color: var(--bgbtnhover);
    box-shadow: var(--greenshadow);
}

#breadcrumb {
    background-color: var(--bgbread);
    width: fit-content;
    margin: 1rem 1rem;
    align-self: center;
    border-radius: var(--generalradius);
    padding: var(--generalpadding);
}

#breadcrumb ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#breadcrumb li:not(:first-child)::before {
    margin-left: 0.25em;
    font-weight: normal;
    content: " » ";
}

main {
    flex: 1;
    width: calc(100% - 2rem);
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

#section-title {
    margin: 6rem auto;
    text-align: center;
}

#section-title h2 {
    font-size: 3rem;
    line-height: 1.25em;    
}

#rifugio-spec {
    margin-top: 0.5em;
    font-size: 1.5em;
}

#slogan {
    margin-top: 1em;
    font-size: 2em;
    line-height: 1.25em;
}

#section-title ul {
    margin: 2.5em auto;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    list-style-type: none;
}

#section-title a {
    text-decoration: none;
}

#section-chi-siamo {
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: var(--brownshadow);
    background-color: var(--bgdecoration);
    border: 2px solid var(--borderdecoration);
}

#descrizione-foto {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

.tit-evidenza {
    color: var(--txtimportant);
}

.section-subtitle {
    margin-bottom: 1em;
    font-size: 2.25em;
    line-height: 1.25em;
    text-align: center;
}

#section-esperti {
    margin: 6em auto;
}

#section-esperti ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4em;
}

#section-esperti ul li {
    flex-basis: 33%;
    min-width: 17.5em;
    max-width: 17.5em;
    transform: translateZ(0);
    flex: 1;
}

#section-esperti figure {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;
}

#section-esperti ul li figure img {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 15em;
    border: 2px solid var(--borderdecoration);
    box-shadow: var(--brownshadow);
}

#esperto-1 {
    border-radius: 34% 66% 36% 64% / 32% 38% 62% 68%;
}

#esperto-2 {
    border-radius: 56% 44% 71% 29% / 50% 59% 41% 50%;
}

#esperto-3 {
    border-radius: 78% 22% 56% 44% / 58% 30% 70% 42%;
}

#section-esperti figcaption {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#section-esperti .descrizione {
    margin-top: auto;
}

.nome-esperto {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em;
}

#section-dati {
    margin: 6em auto;
}

#section-dati ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 2em;
}

#section-dati ul li {
    text-align: center;
    padding: 1em;
    flex-basis: 20%;
    min-width: 15em;
    border-radius: 0.5em;
    background-color: var(--bgdecoration);
    border: 2px solid var(--borderdecoration);
    color: var(--txtcolor);
    box-shadow: var(--brownshadow);
    transform: translateZ(0);
    transition: transform 0.3s ease;
}

#section-dati ul li figure img {
    object-fit: cover;
    border-radius: 0.5em;
    width: 100%;
    height: 15em;
}

#section-dati ul li figure {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#section-dati ul li figure figcaption {
    margin-top: 0.5em;
    flex: 1;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
}

#section-dati ul li figure dl dd {
    color: var(--txtdecoration);
    margin-top: 0.25em;
    font-size: 2em;
    text-align: center;
}

#img-volontari {
    content: url("../Resources/Images/ImgChiSiamo.jpg");
    width: 25em;
    border-radius: 56% 44% 71% 29% / 50% 59% 41% 50%;
    border: 2px solid var(--borderdecoration);
    box-shadow: var(--brownshadow);
}

#text-chi-siamo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#text-chi-siamo blockquote {
    font-size: 1.25em;
    position: relative;
    text-align: center;
    width: 20em;
    margin: auto;
    margin-top: 1em;
    font-style: italic;
}

#up-quote {
    width: 1em;
    height: 1em;
    top: -0.25em;
    left: -0.25em;
    fill: var(--txtdecoration);
}

#down-quote {
    width: 1em;
    height: 1em;
    bottom: -0.25em;
    right: 1.75em;
    fill: var(--txtdecoration);
}

#btn-back-to-top {
    opacity: 0;
    padding: var(--squarepadding);
    width: var(--squarewidth);
    visibility: hidden;
    position: fixed;
    z-index: 1;
    right: 1rem;
    bottom: 1rem;
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
}

#btn-back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

details.summary-hovered {
    background-color: var(--bgbtnhover);
}

details {
    border-radius: var(--generalradius);
    overflow: hidden;
    margin-bottom: 1rem;
    border: var(--generalbtnborder);
    box-shadow: var(--greenshadow);
}

details summary {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    min-height: 2.25rem;
    align-items: center;
    padding: var(--generalpadding);
    cursor: pointer;
    justify-content: space-between;
    background-color: var(--bgbtn);
    color: var(--txtbtncolor);
    transition: background-color 0.3s ease;
}

#section-faqs details summary span {
    flex: 1;
}

#section-faqs ul {
    list-style-type: none;
}

details::-webkit-details-marker { display: none; }     /* Per i motori di ricerca: Chrome e Safari */

.exp-freccia {
    transform: rotate(-180deg);
    fill: var(--txtbtncolor);
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

details.is-expanded .exp-freccia {
    transform: rotate(0deg);
}

.faq-answer {
    display: grid;
    background-color: var(--bgcolor);
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
}

#section-faqs details.is-expanded .faq-answer {
    grid-template-rows: 1fr;
}

.faq-answer > div {
    overflow: hidden;
}

.faq-answer div p {
    margin: 0em 1em 0.5em 1em;
}

.faq-answer div p:first-child {
    margin-top: 1em;
}

.faq-answer div p:last-child {
    margin-bottom: 1em;
}

#section-contatti {
    margin: 6em auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

#section-contatti dt {
    font-weight: bold;
}

#section-contatti dd:not(:last-child) {
    margin-bottom: 1em;
}

#google-maps {
    border: none;
    border-radius: 0.5em;
    box-shadow: var(--normalshadow);
    width: 20em;
    height: 20em;
}

#socials-centered {
    text-align: center;
}

#socials {
    margin-top: 0.25em;
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 1em;
}

#socials a {
    background-color: transparent;
    border: none;
    width: var(--squarewidth);
    padding: var(--squarepadding);
    box-shadow: none;
}

#socials a svg {
    width: 3rem;
    height: 3rem;
}

footer {
    margin-top: 6em;
    box-shadow: var(--normalshadow);
    background-color: var(--bgbread);
    text-align: center;
}

#link-utili {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#link-utili li {
    display: flex;
    align-items: center;
}

#link-utili li:not(:first-child)::before {
    content: "·";
    color: var(--strongdecoration);
    font-size: 3em;
    margin: 0 0.25em;
    padding-bottom: 0.05em;
}

#dati-footer {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dati-rifugio {
    text-align: left;
}

#orari-rifugio {
    text-align: right;
}

#copyright {
    margin: 1em auto 0 auto;
}

.titolo-footer {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#tbl-orari {
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
}

#tbl-orari dt {
    font-weight: bold;
    margin-right: 1em;
    margin-left: auto;
}

#tbl-orari dd {
    margin-left: auto;
}

.attention {
    color: var(--txtwarning);
    font-weight: bold;
}

.titolo {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.25em;
    text-align: center;
    margin: 3rem auto;
}

#btns-flottanti {
    width: fit-content;
    margin: auto;
    position: sticky;
    top: 7em;
    background-color: var(--bgcolor);
    border: var(--generalborder);
    padding: 1rem;
    border-radius: 0.5em;
}

#btns-mesi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: auto;
    align-items: center;
}

#lbl-mese-corr {
    background-color: var(--bgbread);
    padding: var(--generalpadding);
    border-radius: var(--generalradius);
    font-size: 1.2em;
    font-weight: bold;
}

#btns-mesi a {
    width: var(--squarewidth);
    padding: var(--squarepadding);
}

#btn-mese-prec svg {
    transform: rotate(270deg);
}

#btn-mese-succ svg {
    transform: rotate(90deg);
}

#btns-sett {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin: auto;
    margin-top: 1em;
    width: fit-content;
}

.btn-toggle.active {
    background-color: var(--bgbtnhover);
    color: var(--inverttxtcolor);
}

.giornata {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
}

#lst-animali {
    list-style: none;
}

.info {
    box-shadow: var(--brownshadow);
    padding: 0.5em;
    border-radius: 0.5em;
    height: fit-content;
    width: 100%;
    border: 2px solid var(--borderdecoration);
}

.linea {
    border-radius: 5em;
    width: 0.2em;
    background-color: var(--strongdecoration);
}

.cnt-info-btns {
    display: contents;
    width: 100%;
}

.orario {
    margin: 0 1em;
    font-weight: bold;
    align-self: center;
    text-align: center;
    width: 3.5rem;
}

.cnt-adozione,
.cnt-presa-adozione {
    display: flex;
    margin: 0.5em auto;
    height: fit-content;
}

.cnt-adozione .info {
    background-color: var(--bgdecoration);
    align-self: center;
}

.cnt-presa-adozione .info {
    background-color: var(--strongdecoration);
    color: var(--inverttxtcolor);
    align-self: center;
}

.dtl-animale {
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 1em;
    box-shadow: var(--greenshadow);
    border: 2px solid var(--borderbtn);
}

.dtl-animale summary {
    display: flex;
    align-items: center;
    color: var(--txtbtncolor);
    padding: 1em;
    cursor: pointer;
    justify-content: space-between;
    background-color: var(--bgbtn);
    list-style: none;
    transition: background-color 0.3s ease;
}

.dtl-animale .img-animale {
    height: 7.5em;
    width: auto;
    border-radius: 0.5em;
    object-fit: cover;
    object-position: center top;
}

.info-animale {
    display: contents;
}

.info-animale > span {
    flex: 1;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.nome-animale {
    font-size: 1.25em;
    font-weight: bold;
}

.status-richieste {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.status-richieste::before {
    content: "·";
    font-size: 3em;
    margin-right: 0.1em;
    padding-bottom: 0.05em;
    animation: blink 1.5s infinite;
}

.status-richieste.no-dot::before {
    display: none;
}

.contenuto-nascosto {
    background-color: var(--bgcolor);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
}

.contenuto-nascosto > div {
    display: flex;
}

.contenuto-nascosto div > section {
    flex: 1;
}

details[open] > .contenuto-nascosto {
    grid-template-rows: 1fr;
}

.contenuto-nascosto > * {
    overflow: hidden;
}

.contenuto-nascosto section {
    padding: 1em;
}

.titolo-richieste {
    color: var(--txtimportant);
    display: flex;
    align-items: center;
}

.titolo-richieste::before {
    content: "·";
    font-size: 3em;
    margin-right: 0.1em;
    padding-bottom: 0.05em;
}

.contenuto-nascosto section > p {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.contenuto-nascosto section > ul {
    list-style: none;
}

.contenuto-nascosto section > ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contenuto-nascosto section > ul li:not(:last-child) {
    border-bottom: 1px solid var(--borderform);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.contenuto-nascosto section > ul li > dl {
    flex: 1;
}

.appuntamento {
    display: flex;
    flex: 1;
}

.btn-gruppo {
    margin-top: 0.5rem;
}

.btn-gruppo,
.btn-gruppo-cal {
    display: flex;
    align-items: center;
    margin-left: 1em;
    gap: 1em;
}

.btn-gruppo button,
.btn-gruppo-cal button {
    width: var(--squarewidth);
    padding: var(--squarepadding);
}

.lista-settimana > ol {
    list-style-type: none;
}

.btn-elimina-app {
    background-color: var(--bgwarning);
    box-shadow: var(--redshadow);
    border: var(--warningbtnborder);
    fill: var(--txtwarning);
}

.cliente-info dt {
    margin-left: 0.5em;
    float: left;
    font-weight: bold;
    margin-right: 0.25em;
}

.cliente-info dd {
    margin-left: 0.5rem;
}

dialog {
    margin: auto 1em;
    justify-self: center;
    border: none;
    color: var(--txtcolor);
    padding: 3em;
    background-color: var(--bgcolor);
    border-radius: var(--generalradius);
    opacity: 0;
    max-width: 30rem;
}

dialog .field-error {
    justify-content: center;
}

dialog form div {
    color: var(--txtcolor);
}

dialog::backdrop {
    background-color: var(--popupbackdrop);
    opacity: 0;
}

dialog[open] {
    opacity: 1;
}

dialog[open]::backdrop {
    opacity: 1;
}

input.error {
    border: var(--warningbtnborder);
    box-shadow: var(--redshadow);
}

.btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: var(--squarewidth);
    padding: var(--squarepadding);
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.btn-close svg {
    width: 2rem;
    height: 2rem;
}

#dia-appuntamento,
#dia-cancellazione,
#dia-info {
    text-align: center;
    width: fit-content;
}

dialog .info-required {
    margin-top: 0.5rem;
    justify-content: center;
}

.titolo-dialog {
    margin-top: 1rem;
    line-height: 1.25em;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

#dia-appuntamento form {
    margin-top: 1.5em;
    text-align: center;
}

#campi-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

#campi-input div {
    align-items: center;
}

#dia-appuntamento form label {
    font-weight: bold;
    margin-right: 0.5em;
}

#info-rich {
    margin-top: 1.5em;
}

#btn-prenota-app,
#btn-cancella-app {
    margin-top: 2em;
}

#btn-cancella-app {
    background-color: var(--bgwarning);
    color: var(--txtwarning);
    border: 2px solid var(--borderwarning);
    box-shadow: var(--redshadow);
    padding: var(--generalpadding);
    font-weight: bold;
    font-size: 1.1em;
}

#msg-warning {
    margin-top: 1.5em;
    align-items: center;
    text-align: center;
}

#toast-not {
    position: fixed;
    width: calc(100% - 4rem);
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: var(--generalpadding);
    border-radius: 0.5em;
    opacity: 1;
}

#toast-not:focus {
    outline: none;
}

#toast-not.success {
    background-color: var(--bgbtn);
    color: var(--txtbtncolor);
    border: 2px solid var(--borderbtn);
    box-shadow: var(--greenshadow);
}

#toast-not.error {
    background-color: var(--bgwarning);
    color: var(--txtwarning);
    border: 2px solid var(--borderwarning);
    box-shadow: var(--redshadow);
}

#benvenuto {
    line-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#dog-house {
    fill: var(--txtimportant);
    width: 8rem;
    height: 8rem;
}

#benvenuto #ben-time {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5em;
}

#benvenuto p {
    font-size: 1.25em;
}

#ben-date {
    font-weight: bold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#num-app::before {
    content: "•";
    font-size: 1.4em;
    margin-right: 0.1em;
    color: var(--txtimportant);
    animation: blink 1.5s infinite;
}

#num-app.no-dot::before {
    display: none;
}

#section-links ul {
    margin: 0 auto;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
}

#section-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#section-links li > span {
    width: 2em;
    height: 2em;
    background-color: var(--bgdecoration);
    font-weight: bold;
    color: var(--txtcolor);
    border: 2px solid var(--borderdecoration);
    align-content: center;
    justify-self: right;
    text-align: center;
    border-radius: 10em;
}

#section-links ul li a {
    flex: 1;
}

.no-richieste{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: var(--txtcolor);
    margin: 1.5em 0 1.5em 0;
    padding: 1em;
    line-height: 1.2em;
}

@media (hover: hover) {
    .btn-link:hover,
    .btn-link:visited:hover,
    button:hover {
        background-color: var(--bgbtnhover);
        color: var(--inverttxtcolor);
        fill: var(--inverttxtcolor);
    }

    #socials a:hover {
        fill: var(--txtbtncolor);
    }

    #navbar a:hover::after {
        transform: scaleX(1);
    }
    
    #section-esperti figure:hover {
        transform: scale(1.05) translateZ(0);
    }

    #section-dati ul li:hover {
        transform: scale(1.05) translateZ(0);
    }

    details summary:hover {
        background-color: var(--bgbtnhover);
        color: var(--inverttxtcolor);
    }

    summary:hover .exp-freccia {
        fill: var(--inverttxtcolor);
    }

    .btn-close:hover {
        background-color: transparent;
        fill: var(--txtbtncolor);
    }

    .btn-elimina-app:hover {
        background-color: var(--bgwarninghover);
        fill: var(--inverttxtcolor);
    }

    #btn-cancella-app:hover {
        background-color: var(--bgwarninghover);
        color: var(--inverttxtcolor);
    }

    #hamburger:hover {
        background-color: transparent;
    }
}