#section-step-porta-adozione ul li figure img {
    border-radius: 0.5rem;
    box-shadow: none;
    height: 11.5rem;
}

#section-step-porta-adozione ul li {
    max-width: 11.5rem;
    min-width: 11.5rem;
}

#section-form-porta-adozione {
    width:90%;
    justify-content: center;
    align-items: center;
    border: 2px;
}

#section-form-porta-adozione .field-error {
    display: none;
}

#razza-select-field {
    display: none;
}

#razza-input-field {
    display: flex;
}
