.hero {
    padding: 0.6em 1em;
    margin-bottom: 1em;
}

.hero h2 { 
    line-height: 1.1em;
    margin-bottom: 0.3em;
}

.hero p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
}

.section-list {
    gap: 1em;
    grid-template-columns: 1fr;
}

.list-vertical-panel {
    margin-top: 0.3em;
    margin-left:0.3em;
    margin-right:1.2em;
    margin-bottom:0.5em;  
}

.animal-card {
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;  
    margin: 0;  
}


.animal-card img {
    max-height: 12.5em;      
    min-height: 12.5em;      
    object-fit: cover;
    width: 100%;
}


#scheda-con-visita {
    padding: 0.5em;
    display: block; 
    box-sizing: border-box;  
    margin-top:0.5em;
    background: transparent;        
    box-shadow: none;               
    border-radius: 0;  
     
}

.animal-info{
    margin-bottom: 1em;
}

.animal-image {
    width: 100%;
    max-height: 14.5em;        
    min-height: 14.5em;        
    object-fit: cover;
    border-radius: 1em;
    margin-bottom: 1em;
    display: block;  

}

.descriptions, .features{
    margin-bottom: 1em;
}

/* Header visita - STACK VERTICALE */
.visita-header {
    flex-direction: column;
    text-align: center;
    padding: 1em;
    gap: 1em;
}

.zampa-no-sfondo {
    width: 3.5em;
    height: 3.5em;
}

.visita-header h3 {
    font-size: 1.3em;
    margin: 0;
    line-height: 1.4;
    word-wrap: break-word;
}


.form-intro p {
    font-size: 0.9em;
    line-height: 1.4em;
    margin-bottom: 0.7em;
   
}

.form-row {
    display: flex;  
    flex-direction: column;
    gap: 1em;
}

.submite-bt {
    max-width: 9em;
    
}

.errore {
    padding: 0.5em 0;
}

.errore h2 {
    font-size: 1.5em;
    line-height: 1.1em;
    
}

.errore .pet-images img {
        height:12em;
}

.errore .messaggio-errore p {
        font-size: 1.1em;
}

.errore .opzionale {
        display:none;
}

.errore .messaggio-errore a {
        padding: 0.4em 1em;
        max-width: 3em;
}

.error-code .digit {
        font-size: 6em;
}

.error-code .dog-circle {
        width: 6em;
        height: 6em;
}
