RewriteEngine On
RewriteBase /tec-web/

# 1. Rimuovi index.php dall'URL (Redirect estetico)
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php$ ./ [R=301,L]
RewriteRule ^index$ ./ [R=301,L]

# 2. Rimuovi .php dagli altri file (Redirect estetico)
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteCond %{REQUEST_URI} !/index\.php$
RewriteRule ^ /%1 [R=301,L]

#3.1 Mappatura per "adotta.php"
RewriteRule ^adotta/?$ PHP/Controller/adotta.php [L,QSA]

#3.2 Mappatura per "porta-in-adozione.php"
RewriteRule ^porta-in-adozione/?$ PHP/Controller/porta-in-adozione.php [L,QSA]

#3.3 Mappatura per "login.php"
RewriteRule ^login/?$ PHP/Controller/login.php [L,QSA]

# 4. Mappatura della cartella di amministrazione
# CASO A: scrittura di ".../amministrazione"
RewriteRule ^amministrazione/?$ PHP/Controller/amministrazione.php [L,QSA]

# CASO B: ricerca di una pagina interna ad amministrazione
RewriteRule ^amministrazione/(.+)$ PHP/Controller/$1.php [L,QSA]

# 5. Mappa interna (se chiedo /calendario, servimi /calendario.php di nascosto)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]